@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --body-font: "Mulish", sans-serif;
  --heading-font: "Italiana", serif;
  --e-black: #151412;
  --e-body-white: #F7F7F7;
  --e-brown: #87826E;
  --e-gray: #AEAEAE;
  --description-dark: #36332F;
  --navbar-white: #fff;
  --link-color: #212529;
}

/* CSS reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
}

a {
  color: var(--description-dark);
  text-decoration: none;
  transition: color 0.3s ease-out;
}

a:hover {
  text-decoration: none;
  color: var(--e-brown);
}

ul li a {
  color: var(--description-dark);
}

ul li a:hover {
  color: var(--e-brown);
}


/* NavBar Section Start */
.sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 15px;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}

.custom-navbar-bg-light {
  background-color: #FAF9F6;
}

.navbar-heading {
  font-family: var(--heading-font);
}

/* NavBar Section End */


/* Hero Section Start */
.hero-main-container {
  position: relative;
  color: var(--e-black);
  height: 95vh;
}

.first-hero-image img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.hero-main-container a {
  color: var(--e-black);
  text-decoration: none;
  border-bottom: 1px solid;
  padding-bottom: 3px;
  font-weight: 100;
}

.hero-main-container a:hover {
  color: var(--e-gray);
}

.hero-message-container {
  position: absolute;
  top: 35%;
  left: 8%;
  padding-right: 30px;
  z-index: 2;
}

.hero-message-container h1 {
  font-family: var(--heading-font);
  font-size: 4rem;
}

.hero-message-container h2 {
  font-family: var(--body-font);
  font-weight: 200;
  font-size: 1.3rem;
  padding-bottom: 8px;
}

/* Hero Section End */

/* Index about Start */
.index-about-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 150px;
  background-color: var(--e-body-white);
}

.index-about-container h2 {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: var(--body-font);
  color: #999999;
  font-weight: 300;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

.index-about-container h3 {
  font-family: var(--heading-font);
  font-size: 2.3rem;
  padding-bottom: 10px;
}

.index-about-container p {
  font-size: 1rem;
  font-family: var(--body-font);
  color: var(--description-dark);
  font-weight: 300;
  letter-spacing: 1px;
}

/* Index about End */

/* Second Hero Index Start */
.second-hero-container img {
  height: 45vh;
  width: 100vw;
  object-fit: cover;
}

/* Second Hero Index End*/

/* Categories Index Start */
.shopping-categories-container {
  display: flex;
}
.categories-mini-box img {
  object-fit: cover;
}
.categories-box-left img {
  height: 80.5vh;
  width: 50vw;
  padding-right: 12px;
}
.categories-box-right img{
  height: 39.6vh;
  width: 50vw;
}
.mini-box-pb {
  padding-bottom: 12px;
}
.categories-mini-box {
  position: relative;
  color: var(--e-black);
}
.categories-mini-box a {
  color: var(--e-black);
  font-family: var(--body-font);
}

.categories-mini-box h2 {
  font-family: var(--heading-font);
  margin-bottom: -8px;
  font-size: 4rem;
  letter-spacing: 1px;
}
.mini-box-text {
  position: absolute;
  top: 70%;
  left: 9%;
}
.mini-box-text2 {
  position: absolute;
  top: 55%;
  left: 9%;
}

/* Categories Index End */

/* Single Page HERO section Start */
.page-hero-header{
  font-family: var(--heading-font);
}

.page-hero-icon{
  color: var(--e-brown);
}

.page-description-icon{
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.125rem;
  font-weight: 300;
  color: #36332F;
}

.page-title-about{
  color: #999999;
  letter-spacing: 0.14em;
}

/* Single Page HERO section END */

/* Image slider Items Start */
/* Style the slider container to control the slider's visibility and positioning */
.slider-header {
  font-family: var(--heading-font);
}

.best-selling-arrows {
  display: flex;
  justify-content: space-between;
}

.buttons-container {
  display: flex;
  gap: 10px;
  /* Adjust the space between buttons */
  align-items: center;
}

button svg {
  width: 34px;
  /* Adjust the width to make the icon bigger */
  height: 34px;
  /* Adjust the height to make the icon bigger */
}

.all-items-hover {
  color: var(--e-black);
  border-bottom: 2px solid var(--e-black);
}


.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  /* border: 1px solid #ccc; */
}

/* Format the slider element to align the slides properly */
.slider {
  display: flex;
  transition: transform 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  width: 75%;
  height: auto;
}

/* Style the slide elements to make them responsive and visually appealing */
.slide {
  flex: 0 0 calc(100% / 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #f0f0f0;
  height: auto;
}

/* Style the images and headers within the slide elements */
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.slide h3 {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}

/* Style the slide elements to make them responsive and visually appealing */
.slide {
  position: relative;
  /* Needed for absolute positioning of pseudo-element */
  flex: 0 0 calc(100% / 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #f0f0f0;
  height: auto;
  overflow: hidden;
  /* Ensure image doesn't overflow */
}

/* Style the images within the slide elements */
.slide img {
  width: 100%;
  height: 100%;
  /* Make sure the image height adjusts according to its width */
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.5s ease;
  /* Apply transition for transform */
}

/* Zoom in effect on hover */
.slide:hover img {
  transform: scale(1.05);
  /* Zoom in to 105% of original size */
}

/* Style the "View Item" text */
.view-item {
  opacity: 0;
  /* Hide initially */
  position: absolute;
  bottom: 150px;
  /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid var(--description-dark);
  color: var(--description-dark);
  /* Ensuring text is visible */
  padding: 0.5rem;
  /* Add some padding */
  transition: opacity 0.5s ease;
  /* Apply transition for opacity */
}

/* Apply hover effect to the slide element */
.slide:hover .view-item {
  opacity: 1;
  /* Show on hover */
}

/* Add a transition effect for smoother hover animation */
.slide .view-item {
  transition: opacity 0.5s ease;
  /* Apply transition for opacity */
}


.slide-product-text {
  color: #212529;
  text-decoration: none;
  transition: 0.3s color ease-out;
  font-weight: 400;
  font-size: 24px;
}

.slide-product-price {
  color: var(--e-brown);
  font-size: 1.375rem !important;
  font-weight: 300 !important;
}


/* Image slider Items END */

/* FAQ Section Start */

.faq-header {
  font-weight: 500;
  font-family: var(--heading-font);
  font-size: 40px;
}

.faq-description {
  font-family: var(--heading-font);
}


/* FAQ Section End */

/* Subscribe Section Start */
.subscribe-header {
  font-size: 4.5rem;
  font-family: var(--heading-font);
  text-transform: capitalize;
  color: var(--e-black);
}

.subscribe-text {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.125rem;
  font-weight: light;
  color: var(--description-dark);
  margin-top: 0;
  margin-bottom: 1rem;
}

.sub-input::placeholder {
  color: #AEAEAE;
  font-size: 16px;
}

.sub-input:focus {
  outline: none;
  box-shadow: none;
}

/* Subscribe Section End */

/* Detail page shopping ITEM START */
.single-shop-item-heading{
  font-family: var(--heading-font);
}

.related-shop-item-price{
  color: black;
   /* text-shadow: 2px 2px var(--e-black); */
   font-family: var(--heading-font);
   border-bottom: 1px solid black; width: 50%;
}

.single-shop-item-price{
  color: var(--e-brown);
}

.single-shop-item-scratch{
  color: #AEAEAE;
  font-weight: 500;
}

.buy-item-btn{
  background-color: var(--e-brown) !important;
  color: white !important;
}

.buy-item-btn:hover{
  background-color: #712424 !important;
  color: white !important;
}

.tabs-text-format{
  margin-top: 10px;
  font-family: var(--body-font);
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.125rem;
  font-weight: 300;
  color: #36332f;
}

.rating-part-left h1{
font-size:75px;
color: #8EBF1D;
}
.rating-part-left i{
font-size:22px;
padding:2px;
color:#FDC91B;
}
.rating-part-left p{
font-size:18px;
color:#504F55;
}
.progress-bar-section{
display: inline-block;
text-align: center;
margin-right: 15px;
}
.rating-part-right i,.review-part-right i{
font-size: 20px;
padding:4px 0px;
color:#FDC91B;
}
.rating-part-right span{
font-size:17px;
padding-left: 5px;
}
.review-part-left{
padding-left:30px;
}
.review-part-left img{
height:80px;
width:80px;
border-radius: 50%;
}
.review-part-left p{
margin:0px;
font-size:17px;
color:#B3B5B4;
}
.review-part-left span{
font-size:19px;
}
.review-part-left small{
color:#B3B5B4;
}
.review-part-right p{
font-size: 18px;
color:#919191;
}

.nav-tabs {
  border-bottom: 1px solid var(--description-dark);
}
.nav-tabs .nav-link {
  color: var(--description-dark);
  font-weight: 600;
}
.nav-tabs .nav-link:focus{
  box-shadow: none;
}
.nav-tabs .nav-link {
  background: none;
  border: none;
}
.nav-tabs button.nav-link.active {
  color: var(--e-brown);
  background: none;
}
.nav-tabs button.nav-link:hover {
  color: var(--e-brown);
}

.tabs-listing .tab-content {
  /* border-bottom: 1px solid var(--e-black); */
  padding: 40px 0;
}
.product-tabs .review-item{
  width: 50%;
  margin-bottom: 20px;
}
.product-tabs .review-item .image-holder{
  margin-right: 10px;
}

/* Detail page shopping ITEM END */
/* SHOPPING PAGE START */
.shop-main-container {
  display: flex;
  justify-content: center;
  padding: 150px 50px;
}
.shop-left-container {
 display: grid;
 grid-template-columns: repeat(3,1fr);
 padding-right: 30px;
 gap: 20px;
}
.shop-left-container div {
  color: var(--e-black);
  text-align: center;
}
.individual-item img{
  width: 250px;
  height: 350px;
  object-fit: cover;
}
.individual-item h2 {
  padding: 15px 0px;
  margin-bottom: -10px;
  font-family: var(--heading-font);
  font-size: 1.2rem;
}
.shop-filter-box h2{
  font-family: var(--heading-font);
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 1.6rem;
}
.shop-filter-box p{
  font-family: var(--body-font);
  cursor: pointer;
}
.shop-filter-box p:hover{
color: var(--e-gray);
}

/* SHOPPING PAGE END */

/* CART PAGE START */

.cart-main-container  {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}
.cart-main-container th {
  padding: 0px 0px 15px 50px;
  text-transform: uppercase;
}
.cart-main-container td {
  padding: 0px 50px;
}
.cart-main-container img {
  width: 177px;
  height: 175px;
  object-fit: cover;
  margin: 30px 0px 30px 0px;
}
.cart-item-left {
  display: flex;
  align-items: center;
}
.cart-item-detail{
  padding-left: 16px;
}
.cart-item-detail h2 {
  font-size: 1.2rem;
  color: var(--e-black);
}
.cart-item-detail p {
  color: #87826E;
  font-size: 1.2rem;
}
.subtotal-cart-price {
  color: #87826E;
  font-size: 1.2rem;
}
.delete-button button{
  border: none;
  background-color: transparent;
  font-size: 1.3rem;
}
.delete-button button:hover {
  color: #87826E;
}
.item-incrementer {
  display: flex;
  align-items: center;
  background-color:#EFEFEF;
}
.item-incrementer i {
  cursor: pointer;
  padding: 0px 15px;
}
.item-incrementer i:hover{
  color: #87826E;
}
.item-incrementer p {
 padding: 15px 15px 0px 15px;
}

/*NOEL CHECKOUT */

.checkout-heading-title{
  font-family: var(--heading-font);
}

.checkout-price-tags{
  color: var(--e-brown);
}

.checkout-btn-brown{
  background-color: var(--e-brown) !important;
  color: white !important;
}

/* CART PAGE END */

/* Footer section Start */
.text-header {
  font-family: var(--heading-font);
  line-height: 127%;
  font-weight: 500;
}

.footer-one {
  background-color: var(--light-2);
}

.footer-one .footer-logo {
  margin-top: 30px;
}

.footer-one .footer-widget {
  padding-top: 70px;
  padding-bottom: 100px;
}

.footer-one .footer-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: var(--black);
  position: relative;
}

.footer-one .footer-app-store {
  padding-top: 22px;
}

.footer-one .footer-app-store .download-title {
  font-size: 15px;
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
  color: var(--dark-1);
}

.footer-one .footer-app-store li {
  display: inline-block;
  margin-right: 8px;
}

.footer-one .footer-app-store li img {
  max-width: 140px;
}

.footer-one .footer-app-store li a {
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

.footer-one .footer-app-store li a:hover {
  box-shadow: var(--shadow-4);
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
  transform: translateY(-4px);
}

.footer-one .f-about {
  margin-top: 30;
}

.footer-one .f-about .text {
  margin-top: 20px;
}

.footer-one .footer-link {
  margin-top: 30px;
}

.footer-one .footer-link ul {
  margin-top: 8px;
}

.footer-one .footer-link ul a {
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-3);
  margin-top: 16px;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.footer-one .footer-link ul a:hover {
  color: var(--primary);
}

.footer-one .footer-contact {
  margin-top: 30px;
}

.footer-one .footer-contact ul {
  margin-top: 24px;
}

.footer-one .footer-contact ul li {
  display: block;
  margin-top: 15px;
  position: relative;
  padding-left: 24px;
  color: var(--dark-3);
}

.footer-one .footer-contact ul li:first-child {
  margin: 0;
}

.footer-one .footer-contact ul li i {
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 4px;
}

.footer-one .footer-copyright {
  border-top: 1px solid var(--gray-4);
}

.footer-one .copyright {
  padding-bottom: 23px;
  padding-top: 13px;
}

.footer-one .copyright .text {
  color: var(--dark-3);
  margin-top: 10px;
}

.footer-one .social {
  margin-top: 10px;
}

.footer-one .social li {
  display: inline-block;
  margin-right: 15px;
}

.footer-one .social li:last-child {
  margin-right: 0;
}

.footer-one .social li a {
  font-size: 18px;
  color: var(--dark-3);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.footer-one .social li a:hover {
  color: var(--primary);
}

/* Footer Section End */


/* Media Queries Section Start*/

/**Navbar Section **/
@media (max-width: 768px) {
  .navbar-toggler {
    display: block !important;
  }

  .navbar-expand .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }

  .sidebar {
    display: block;
  }
}
/** Slider Section **/
/*slider's layout based on the viewport width */
@media (max-width: 1210px) {
  .slide-product-text {
  font-size: 20px;
}
}
/* For screens with a maximum width of 1024 pixels */
@media (max-width: 1024px) {
  .slide {
    flex: 0 0 100%; /* Set each slide to take up the full width */
  }

}

/* For screens with a maximum width of 767 pixels */
@media (max-width: 767px) {
  .slide {
    flex: 1 0 100%; /* Set each slide to take up the full width */
  }
}


/** Index Hero Section **/
@media (max-width: 890px) {
  .hero-message-container h1 {
    font-size: 2.5rem;
  }
  .hero-message-container h2 {
    font-size: 1.3rem;
    padding-bottom: 4px;
  }
}
@media (max-width: 790px) {
  .hero-message-container h1 {
    font-size: 2.3rem;
  }
}
@media (max-width: 750px) {
  .hero-message-container h1 {
    font-size: 2rem;
  }
  .hero-message-container h2 {
    font-size: 1.2rem;
  }
}
@media (max-width: 502px) {
  .hero-message-container h1 {
    font-size: 2rem;
  }
  .hero-message-container h2 {
    font-size: 1rem;
  }
}
@media (max-width: 435px) {
  .hero-message-container h1 {
    font-size: 1.8rem;
  }
}
@media (max-width: 315px) {
  .hero-message-container h1 {
    font-size: 1.5rem;
  }
}
/** Index About Us Section **/
@media (max-width: 1080px) {
  .index-about-container {
    padding: 20px 80px;
  }
}
@media (max-width: 750px) {
  .index-about-container {
    padding: 20px 50px;
  }
 .index-about-container h3 {
    font-size: 2rem;
    padding-bottom: 10px;
  }
}
@media (max-width: 500px) {
  .index-about-container {
    padding: 100px 40px;
    height: auto;
  }
  .index-about-container h3 {
    font-size: 1.5rem;
    padding-bottom: 10px;
  }
}
/** Index Category 3 boxes section **/
@media (max-width: 1000px) {
  .shopping-categories-container {
    flex-direction: column;
  }
  .categories-mini-box img {
    object-fit:cover;
  }
  .categories-box-left img {
    height: 40vh;
    width: 100vw;
    padding-right: 0px;
    padding-bottom: 12px;
  }
  .categories-box-right img{
    height: 40vh;
    width: 100vw;
  }
  .mini-box-pb {
    padding-bottom: 12px;
  }
  .categories-mini-box h2 {
    font-size: 4rem;
  }
  .mini-box-text {
    top: 60%;
  }
  .mini-box-text2 {
    top: 60%;
  }
  
  }
  @media (max-width: 600px) {
    .categories-mini-box h2 {
      font-size: 2.5rem;
    }
    .mini-box-text {
      top: 65%;
    }
    .mini-box-text2 {
      top: 65%;
    }
    }
    @media (max-width: 400px) {
      .categories-mini-box h2 {
        font-size: 2rem;
      }
    }
 
/** Shopping Page **/
@media (max-width: 1100px) {
  .shop-left-container {
   grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width: 800px) {
  .shop-left-container {
   grid-template-columns: repeat(1,1fr);
  }
  .shop-main-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 50px;
  }
  .shop-right-container {
    display: flex;
    padding: 20px 10px 50px 10px;
  }
  .shop-filter-box {
  padding: 0px 20px;
  }
  .shop-filter-box p {
    margin-bottom: -5px;
  }
  .shop-filter-box h2 {
    font-size: 1.4rem;
  }
  .shop-left-container {
    padding-right: 0px;
  }
}
@media (max-width: 500px) {
  .shop-filter-box h2 {
    font-size: 1rem;
  }
  .shop-right-container {
    padding: 20px 5px 50px 5px;
  }
   .shop-filter-box {
  padding: 0px 20px;
  }
}
@media (max-width: 365px) {
   .shop-filter-box {
  padding: 0px 8px;
  }
  .individual-item img{
    width: 200px;
    height: 250px;
  }
}


/** Single item section start**/
@media screen and (max-width: 991px) {
  .product-tabs .review-item{
    width: 100%;
    flex-wrap: wrap;
  }
  .product-tabs .review-item .image-holder{
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 991px) {
  .cart-header{
    display: none;
  }
}

/** Single item section end **/
  
 
/** Cart Page **/
@media (max-width: 900px) {
  .cart-main-container td {
    padding: 0px 40px;
  }
  .cart-main-container img {
    width: 150px;
    height: 150px;
    margin: 20px 0px 20px 0px;
  }
  .cart-item-detail h2 {
    font-size: 1rem;
  }
  .cart-item-detail p {
    font-size: 1rem;
  }
  .subtotal-cart-price {
    font-size: 1rem;
  }
  .delete-button button{
    font-size: 1.2rem;
  }
  .item-incrementer i {
    padding: 0px 15px;
  }
  .item-incrementer p {
   padding: 15px 10px 0px 10px;
  }
}
@media (max-width: 765px) {
  .cart-main-container img {
    width: 120px;
    height: 120px;
  }
  .item-incrementer {
    height: 35px;
  }
}
@media (max-width: 675px) {
  .cart-main-container img {
    width: 100px;
    height: 100px;
  }
  .cart-main-container td {
    padding: 0px 25px;
  }
  .cart-main-container th {
    padding: 0px 26px;
  }
  .item-incrementer p {
    padding: 14px 0px 0px 0px;
  }
}
@media (max-width: 630px) {
  .cart-main-container img {
    width: 80px;
    height: 80px;
  }
  .cart-main-container td {
    padding: 0px 20px;
  }
  .cart-main-container th {
    padding: 0px 26px;
  }
  .item-incrementer p {
    padding: 14px 0px 0px 0px;
  }
  .item-incrementer {
    height: 27px;
  }
}
@media (max-width: 515px) {
  .cart-main-container img {
    width: 70px;
    height: 70px;
  }
  .cart-main-container td {
    padding: 0px 20px;
  }
  .cart-main-container th {
    padding: 0px 20px;
  }

  .item-incrementer i {
    font-size: 10px;
  }
}
@media (max-width: 460px) {
  .cart-main-container td {
    padding: 0px 15px;
  }
  .cart-main-container th {
    padding: 0px 15px;
  }
  .item-incrementer i {
    font-size: 10px;
  }
  .hide-for-mobile {
    display: none;
  }
}
@media (max-width: 448px) {
  .cart-main-container td {
    padding: 0px 20px;
  }
  .cart-main-container th {
    padding: 0px 20px;
  }
}
@media (max-width: 405px) {
  .cart-main-container td {
    padding: 0px 15px;
  }
  .cart-main-container th {
    padding: 0px 15px;
  }
  .cart-main-container img {
    width: 60px;
    height: 75px;
  }
}

/** Footer Section **/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-one .footer-widget {
    padding-top: 40px;
    padding-bottom: 70px;
  }
}

@media (max-width: 767px) {
  .footer-one .footer-widget {
    padding-top: 20px;
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-one .footer-app-store li {
    margin-right: 6px;
  }
}

.footer-one .footer-app-store li:last-child {
  margin-right: 0;
}

@media (max-width: 767px) {
  .footer-one .footer-app-store li {
    width: 120px;
    display: block;
    margin-bottom: 10px;
  }

  .footer-one .footer-app-store li:last-child {
    margin: 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer-one .footer-app-store li {
    width: auto;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 1400px) {
  .footer-one .f-about {
    padding-right: 200px;
  }
}

@media (max-width: 767px) {
  .footer-one .footer-link ul a {
    margin-top: 12px;
  }
}


/* Media Queries Section End */
