@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

  :root {
    --body-font: "Mulish", sans-serif;
    --heading-font: "Italiana", serif;
    --e-black:#151412;
    --e-body-white:#F7F7F7;
    --e-brown:#87826E;
    --e-gray:#AEAEAE;
    --description-dark:#36332F;
    --navbar-white:#fff;
    --link-color:#212529;
}

/* CSS reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
  }

ul {
  color: var(--description-dark);
}

a {
  color: var(--description-dark);
  text-decoration: none;
  transition: 0.3s color ease-out;
}

a:hover {
  text-decoration: none;
  color: var(--e-brown);
}

.text-header{
  font-family: var(--heading-font);
  font-size: 1.75rem;
  line-height: 127%;
  font-weight: 500;
}

/* Hero Section Start */
.hero-main-container img{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: 70%;
  -webkit-user-drag: none;
}
.hero-main-container {
  position: relative;
  color: var(--description-dark);
}
.hero-main-container a {
  color: var(--description-dark);
  text-decoration: none;
  border-bottom: 1px solid;
  padding-bottom: 3px;
}
.hero-main-container a:hover {
  color: grey;
}
.hero-message-container {
  position: absolute;
  top: 37%;
  left: 10%;
  padding-right: 30px;
}
.hero-message-container h1 {
  font-family: var(--heading-font);
  font-size: 4rem;
}
.hero-message-container h2 {
  font-family: var(--body-font);
  font-weight: 200;
  font-size: 1.5rem;
  padding-bottom: 8px;
}

/* Hero Section End */
/* Index about Start */
.index-about-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 150px;
  background-color: var(--e-body-white);
}
.index-about-container h2 {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: var(--body-font);
  color: #999999;
  font-weight: 300;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
.index-about-container h3 {
  font-family: var(--heading-font);
  font-size: 2.5rem;
  padding-bottom: 10px;
}
.index-about-container p {
  font-size: 1rem;
  font-family: var(--body-font);
  color: var(--description-dark);
  font-weight: 300;
  letter-spacing: 1px;
}













/* Index about End */
